{% extends 'base.html' %}

{% block head %}
Id Card Generator
{% endblock %}



{% block body %}
<br>
<input id="index-user-search" width="1200px" type="text" placeholder="Search Name / Position / phone / mail"> 

<table border="1px" style="text-align: center;" id="index-table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Phone</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Preview</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.position }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_of_birth }}</td>
            <td><a href="{{ url_for('preview',id = user.id) }}">preview</a></td>
        </tr>
    {% endfor %}
</table>
<div id="result-count" style="text-align: center;">

</div>
<script src="{{ url_for('static',filename='js/mainIndex.js') }}"></script>
{% endblock %}